# --- System & IDE ---
.DS_Store
.vscode/
.idea/
__pycache__/
*.pyc

# --- Environment & Secrets ---
venv/
.env
.env.*
!.env.example
.secrets/

# --- Local Data Storage ---
# Protects your mock data and dead-letter queues
data/

# --- Terraform ---
# Infrastructure state and local configuration
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.workspaces/
.terraformrc
terraform.rc

# --- Logs & Performance ---
crash.log
crash.*.log
*.log
logs/

# --- Docker & Build Artifacts ---
# If you build local images or binary caches
dist/
build/
*.egg-info/
spark-warehouse/
metastore_db/
derby.log
checkpoints/

# --- dbt (Data Build Tool) ---
# Ignores compiled SQL code and downloaded dbt plugins
gold_analytics/target/
gold_analytics/logs/
dbt_packages/

# --- DuckDB ---
# CRITICAL: Do NOT push your actual physical database files!
*.duckdb
*.duckdb.wal
finstream_gold.duckdb

# --- Airflow ---
# Ignore ephemeral logs and local database state
airflow/logs/
airflow/airflow.db
airflow/airflow-webserver.pid

# --- Great Expectations ---
# Ignore local reports that should not be in version control
gx/uncommitted/